{% extends 'base.html' %}

{% block body_id %}delete-profile-page{% endblock %}

{% block title %} Delete Account {% endblock %}

{% block content %}
    <div class="confirm-delete-container">
        <h5>Are you sure you want to delete your account? This will also delete all the content associated with your
            profile</h5>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn custom-btn">
        </form>
        <a href="{% url 'profile' %}" class="btn custom-btn">Cancel</a>
    </div>
{% endblock %}