{% extends 'base.html' %}
{% load static %}

{% block body_id %}password-change-page{% endblock %}

{% block content %}
    <button onclick="goBack()">Back</button>
    <div class="password-change-card">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn custom-btn mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16">
                Change password
            </button>
        </form>
    </div>
{% endblock %}