{% extends 'base.html' %}
{% load static %}

{% block body_id %}password-change-page{% endblock %}

{% block content %}
    <div class="header-center">
        <h1 class="page-title">Change Password</h1>
    </div>

    <div class="password-change-wrapper">
        <div class="pwd-change-back-btn-container">
            <button onclick="goBack()" class="back-btn">Back</button>
        </div>
        <div class="password-change-card">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn custom-btn mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16">
                    Change password
                </button>
            </form>
        </div>
    </div>
{% endblock %}
