{% extends 'base.html' %}

{% block content %}
    {% for book in object.books.all %}
        <div>
            <h2>Title: <a href="{% url 'book_details' pk=book.pk %}">{{ book.title }}</a></h2>
            <a href="{% url 'remove_from_shelf' pk=book.pk %}">Remove book from shelf</a>
            <p>Description: {{ book.description }}</p>
            <p>Genre:
                {% for genre in book.genres.all %}
                    {{ genre.genre_name }}{% if not forloop.last %},
                    {% endif %}
                {% endfor %}
            </p>
            <p>Author: <a href="{% url 'author_books' slug=book.author.slug %}">{{ book.author }}</a></p>
            <img class="book-image" src="{{ book.book_image }}" alt="{{ book.title }}">
            <p>Added by: {{ book.created_by.username }}</p>
        </div>
        <hr>
        <br>
    {% empty %}
        <p>You haven't added any books to your shelf yet</p>
    {% endfor %}
    <button onclick="goBack()">Back</button>
{% endblock %}