{% extends 'base.html' %}

{% block content %}
    <h2>{{ book.title }}</h2>
    <div>
        <p>Title: {{ book.title }}</p>
        <p>Description: {{ book.description }}</p>
        <p>Author: <a href="{% url 'author_books' slug=book.author.slug %}">{{ book.author }}</a></p>
        <p>Genre:
            {% for genre in book.genres.all %}
                {{ genre.genre_name }}{% if not forloop.last %},
                {% endif %}
            {% endfor %}
        </p>
        <img class="book-image" src="{{ book.book_image }}" alt="{{ book.title }} image">
        <br>
        <a href="{% url 'add_to_shelf' pk=book.pk %}">Add to shelf</a>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% if book.created_by == request.user %}
        <p><a href="{% url 'book_edit' pk=book.pk %}">Edit book</a></p>
        <p><a href="{% url 'book_delete' pk=book.pk %}">Delete book</a></p>
    {% endif %}

    <h2>Reviews:</h2>
    {% for review in reviews %}
        <div>
            <p>{{ review.created_at|date:"d/m/Y, h:i A" }}</p>
            <p>{{ review.user.username }}: {{ review.review_text }} {% if user == review.user %}
                <a href="{% url 'review_delete' review.id %}?next={{ request.path }}">X</a>
            {% endif %}</p>
            <br>
        </div>
    {% empty %}
        <p>No reviews yet</p>
    {% endfor %}

    <h2>Leave a review:</h2>
    <form action="{% url 'book_details' pk=book.pk %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" value="Submit Review">
    </form>
{% endblock %}