{% extends 'base.html' %}

{% block content %}
    <h1>Book Catalogue</h1>
    <ul>
        {% for book in books %}
            <li>
                <h2>Title: <a href="{% url 'book_details' pk=book.pk %}">{{ book.title }}</a></h2>
                <p>Description: {{ book.description }}</p>
                <p>Genre: {{ book.genres }}</p>
                <p>Author: {{ book.author }}</p>
                <img class="book-image" src="{{ book.image }}" alt="{{ book.title }}">
                <p>Added by: {{ book.added_by }}</p>
            </li>
            <hr>
            <br>
        {% empty %}
            <li>No books available.</li>
        {% endfor %}
    </ul>
{% endblock %}
