{% extends 'base.html' %}

{% block body_id %}catalogue-page{% endblock %}

{% block title %} Catalogue {% endblock %}

{% block content %}
    <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

    <div class="header-center">
        <h1 class="page-title">Book Catalogue</h1>

        {# Filtering #}
        <form method="GET">
            {{ form.author.label_tag }}
            {{ form.author }}
            {{ form.genre.label_tag }}
            {{ form.genre }}
            {{ form.sort_by.label_tag }}
            {{ form.sort_by }}
            {{ form.search.label_tag }}
            {{ form.search }}
            <button type="submit" class="back-btn">Apply</button>
        </form>
    </div>

    {# Catalogue #}
    <div class="container">
        <button onclick="goBack()" class="back-btn">Back</button>
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    <div class="card mb-4 catalogue-card">
                        <a href="{% url 'book_details' pk=book.pk %}">
                            <img class="card-img-top catalogue-book-image" src="{{ book.image }}"
                                 alt="{{ book.title }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ book.title }}
                            </h5>
                            {% if book.description %}
                                <p class="card-text">
                                    <strong>Description:</strong> {{ book.description|truncatewords:20 }}</p>
                            {% endif %}
                            <p><strong>Genre:</strong> {{ book.genres }}</p>
                            <p><strong>Author:</strong>
                                <a href="{% url 'author_books' slug=book.author.slug %}"
                                   class="author-link">{{ book.author }}</a>
                            </p>
                            <p><strong>Added by:</strong> {{ book.added_by }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% empty %}
                <div class="col-12">
                    <p>No books available.</p>
                </div>
            {% endfor %}
            </div>

        {# Bootstrap Pagination #}
        <div class="mt-4 d-flex justify-content-center">
            <ul class="pagination">
                {% if books.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ books.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;&laquo;</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                    </li>
                {% endif %}

                {% for i in books.paginator.page_range %}
                    {% if books.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if books.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ books.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ books.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}