.book-image {
    width: 150px;
    height: 150px;
}

.profile-image {
    width: 150px;
    height: 150px;
}

/*Buttons*/

.custom-btn,
.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active {
    background-color: #2d2c31;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.custom-btn {
    background-color: #2d2c31;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.custom-btn:hover {
    background-color: #5f5e69;
    transform: scale(1.05);
}

.custom-btn:active,
.custom-btn:focus:active {
    background-color: #0d0c10;
    color: #fff;
    transform: scale(0.95);
}


/*Buttons 2*/

.back-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 33px;
    font-size: 14px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 15%;
    border: 1px solid #fff;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
    z-index: 1000;
}

.back-btn:hover {
    background-color: #A9A9A9FF;
    color: #000;
}


/*Top button*/

#topBtn {
    position: fixed;
    bottom: 70px;
    right: 120px;
    display: none;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
    z-index: 1000;
}

#topBtn:hover {
    background-color: #A9A9A9FF;
    color: #000;
}


/*Homepage*/

body {
    color: white;
}

#home-page {
    background-image: url('../images/homepage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: white;
}

#my-nav {
    background-color: #80ff00 !important;
}

#navbarNav > ul a {
    font-size: 18px;
    color: #2d2c31;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#navbarNav > ul a:hover {
    color: #5f5e69;
}


/*Catalogue*/

#catalogue-page {
    background: linear-gradient(to right, #2d2c31, #787781);
}

.catalogue-header {
    text-align: center;
}

.catalogue-book-image {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#catalogue-page .card-body {
    text-align: center;
}

#catalogue-page .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 .catalogue-card {
    border: 2px solid #000;
    background-color: lightgray;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.col-md-4 .catalogue-card:hover {
    background-color: #A9A9A9FF;
}

.catalogue-card-link {
    text-decoration: none;
    color: inherit;
}

.catalogue-card-link:hover .card {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.catalogue-card-link:focus .card,
.catalogue-card-link:active .card {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.page-title {
    margin-top: 3rem;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #6cd900;
    text-shadow: 2px 2px 4px #888888;
}

select {
    margin-right: 20px;
}


/*Profile page*/

#profile-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#logo-txt {
    font-size: 24px;
    font-weight: bold;
}


.padding {
    padding: 3rem !important;
}

.user-card-full {
    overflow: hidden;
    background-color: lightgray;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#5ec200), to(#2d2c31));
    background: linear-gradient(to left, #2d2c31, #5ec200);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem 1.25rem 1.25rem 0;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    width: 110px;
    height: 95px;
    border-radius: 5px;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
    margin-bottom: 0;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.text-muted {
    color: #919aa3 !important;
}

.f-w-600 {
    font-weight: 600;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.justify-content-center {
    margin: 0 auto;
}


/*Profile edit*/

#profile-edit-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/profile-edit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.col-xl-6 {
    width: 80%;
}

.col-sm-6 {
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn-save-changes {
    margin-right: 10px;
}

.editing-profile {
    margin-bottom: 55px;
}

/*Change password*/

#password-change-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/profile-edit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.password-change-card {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: #000000;
    background-color: #cecece;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

.password-change-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.password-change-card form p {
    margin-bottom: 20px;
}

.back-button {
    margin-top: 20px;
    display: block;
    width: 100%;
}


/*My Books*/



/*Book details*/

#book-details-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../images/book-details.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cb-book {
    text-align: center;
    padding: 1.25rem;
}

.b-b-default {
    border: none;
}

.m-b-20 {
    margin: 0;
}

.book-details {
    margin-top: 15px;
}

.book-details-row {
    margin-bottom: 25px !important;
}