.book-image {
    width: 140px;
    height: 150px;
}

.content-wrapper {
    min-height: calc(100vh - 16px);
}

.profile-image {
    width: 150px;
    height: 150px;
}

.logged-in-user {
    margin-top: 11px;
    margin-left: 10px;
    color: #fff;
}

.messages {
    text-align: center;
}

.dropdown-link {
    color: #333 !important;
}

.dropdown-link:hover {
    background-color: #333;
    color: #fff !important;
}

.dropdown-item:active {
    background-color: #333;
    color: #fff;
}

/*Buttons*/

.custom-btn,
.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active {
    background-color: #2d2c31;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.custom-btn {
    background-color: #2d2c31;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.custom-btn:hover {
    background-color: #5f5e69;
    transform: scale(1.05);
}

.custom-btn:active,
.custom-btn:focus:active {
    background-color: #0d0c10;
    color: #fff;
    transform: scale(0.95);
}


/*Buttons 2*/

.back-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 33px;
    font-size: 14px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 15%;
    border: 1px solid #fff;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 1000;
}

.back-btn:hover {
    background-color: #A9A9A9FF;
    color: #000;
}


/*Top button*/

#topBtn {
    position: fixed;
    bottom: 70px;
    right: 120px;
    display: none;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
    z-index: 1000;
}

#topBtn:hover {
    background-color: #A9A9A9FF;
    color: #000;
}


/*Pagination*/
.pagination .page-link {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
}

.pagination .page-item.active .page-link {
    background-color: #252525;
    border-color: #b2b2b2;
}

.pagination .page-item.disabled .page-link {
    color: #fff;
    background-color: #333;
    border-color: #fff;
}

.pagination .page-link:hover {
    background-color: #A9A9A9FF;
    color: #000F;
}



/*Homepage*/

body {
    color: white;
}

#home-page {
    background-image: url('../images/homepage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: white;
}

#my-nav {
    background-color: #1e3a56 !important;
}

#navbarNav > ul a {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#navbarNav > ul a:hover {
    color: #707070;
}


/*Catalogue*/

#catalogue-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../images/catalogue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header-center {
    text-align: center;
}

.catalogue-book-image {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#catalogue-page .card-body {
    text-align: center;
}

#catalogue-page .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 .catalogue-card {
    border: 2px solid #000;
    background-color: lightgray;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.col-md-4 .catalogue-card:hover {
    background-color: #A9A9A9FF;
}

.catalogue-card-link {
    text-decoration: none;
    color: inherit;
}

.catalogue-card-link:hover .card {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.catalogue-card-link:focus .card,
.catalogue-card-link:active .card {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.page-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px #1e3a56;
}

select {
    margin-right: 20px;
}


/*Profile page*/

#profile-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo-txt {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

#logo-txt:hover {
    color: #707070;
}


.padding {
    padding: 1rem !important;
}

.user-card-full {
    overflow: hidden;
    background-color: lightgray;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#1e3a56), to(#2d2c31));
    background: linear-gradient(to left, #2d2c31, #1e3a56);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem 1.25rem 1.25rem 0;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    width: 105px;
    height: 95px;
    border-radius: 5px;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
    margin-bottom: 0;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.text-muted {
    color: #919aa3 !important;
}

.f-w-600 {
    font-weight: 600;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.justify-content-center {
    margin: 0 auto;
}


/*Profile edit*/

#profile-edit-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/profile-edit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.col-xl-6 {
    width: 80%;
}

.col-sm-6 {
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn-save-changes {
    margin-right: 10px;
}

.editing-profile {
    margin-bottom: 55px;
}

/*Change password*/

#password-change-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/profile-edit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.password-change-card {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: #000000;
    background-color: #cecece;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

.password-change-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.password-change-card form p {
    margin-bottom: 20px;
}

.back-button {
    margin-top: 20px;
    display: block;
    width: 100%;
}


/*Profile delete*/
#delete-profile-page {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 2.8)), url('../images/delete-book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


/*My Books*/
#my-books-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/my-books2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.col-md-4 .my-books-card {
    border: 1px solid #000;
    background-color: lightgray;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.col-md-4 .my-books-card:hover {
    background-color: #A9A9A9FF;
}

.my-books-book-image {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


/*Add book*/

#add-book-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../images/add-book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.add-book-form {
    text-align: center;
}


/*Book details*/

#book-details-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../images/book-details.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cb-book {
    text-align: center;
    padding: 1.25rem;
}

.b-b-default {
    border: none;
}

.m-b-20 {
    margin: 0;
}

.book-details {
    margin-top: 15px;
}

.book-details-row {
    margin-bottom: 25px !important;
}

.text-muted {
    color: black !important;
}

/*Book edit*/
#edit-book-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../images/edit-book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-title {
    text-align: center;
}

.book-edit-book-image {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.card .edit-book-card-body .book-edit-holder {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px !important;
}

.edit-book-card {
    padding: 10px;
}

.edit-book-save-changes {
    text-align: center;
}


/*Book delete*/
#delete-book-page {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 2.8)), url('../images/delete-book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


/*Authors page*/
#authors-page {
    background: linear-gradient(to right, #2d2c31, #787781);
}

.author-card:hover {
    background-color: #A9A9A9FF;
}

.mb-3 {
    margin-bottom: 0 !important;
}


/*Author details page*/
#author-books-page {
    background: linear-gradient(to right, #2d2c31, #787781);
}

.col-md-4 .author-book-card {
    border: 2px solid #000;
    background-color: lightgray;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.col-md-4 .author-book-card:hover {
    background-color: #b4b4b4;
}

a.author-link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid #000;
    -webkit-transition: color 0.3s ease, border-bottom 0.3s ease;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

a.author-link:hover {
    color: #FFF;
    border-bottom: 2px solid #FFF;
    padding-bottom: 2px;

}

/*Shelf page*/
#shelf-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../images/catalogue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Delete book from shelf*/
#delete-book-from-shelf-page {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 2.8)), url('../images/delete-book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.confirm-delete-container {
    margin-top: 20px;
    text-align: center;
}


/*Change password*/

.password-change-wrapper {
    width: 100%;
    max-width: 392px;
    margin: 0 auto;
    padding: 0;
}

.pwd-change-back-btn-container {
    width: 100%;
    text-align: left;
}

.password-change-card {
    width: 100%;
    margin: 0;
}


/*Reviews*/


/*Delete review*/
#delete-review-page {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8)), url('../images/delete-book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


/*Login page*/
#login-page {
    background-image: linear-gradient(rgba(91, 91, 91, 0.7), rgba(0, 0, 0, 0.9)), url('../images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}


/*Register user*/
#register-user-page {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0)), url('../images/sign-up.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-form-wrapper {
    margin-bottom: 20px;
}

.signup-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.signup-form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.signup-form-group .signup-form-help-text {
    font-size: 0.8em;
    color: #fff;
    margin-top: 4px;
}

.signup-form-group .signup-field-error {
    color: #ee2a2a;
    font-size: 0.9em;
    margin-top: 4px;
}

.signup-form-group input,
.signup-form-group select,
.signup-form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-btn-wrapper {
    text-align: center;
}


/*Footer*/
.footer {
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}